Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
python-dotenv
psycopg2-binary
requests
transformers==4.41.2
sentence-transformers==2.7.0
llama-index-core==0.14.13
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-llms-google-genai==0.8.5
google-genai
